@{
    ViewData["Title"] = "Home Page";
}
    <container>
        <form action="@Url.Action("Home", "Filtra")" method="post">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Analista">Analista</label>
                    <input type="text" class="form-control" id="Analista" value="" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="DataInicio">Data Inicio</label>
                    <input type="text" class="form-control" id="DataInicio" value="" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="DataFinal">Data Final</label>
                    <input type="text" class="form-control" id="DataFinal" value="" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Situacao">Situação</label>
                    @*<input type="text" class="form-control" id="situacao" value="" required>*@
                    <select class="form-control" id="situacao" required>
                        <option selected>Todas</option>
                        <option value="EmAberto">Em aberto</option>
                        <option value="Fechado">Fechado</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </container>

    <container>
        <div class="text-center">
            <canvas id="myChart" style="display: block; width: 983px; height: 491px;" width="983" height="491" class="chartjs-render-monitor"></canvas>
        </div>
    </container>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>
