@{
    ViewData["Title"] = "Home Page";
}


<div class="panel panel-default">
    <div class="panel-body">
        <form action="@Url.Action("Home", "Filtra")" method="post">

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="TipoDeGrafico">Tipo De Grafico</label>
                    <select class="form-control" id="TipoDeGrafico" onchange="mudaTipoGrafico()" required>
                        <option value="PontuacaoGeral">Pontuação Geral</option>
                        <option value="PontuacaoNaMedia">Pontuação na Média</option>
                        <option value="PontuacaoDoAnalista">Pontuação do Analista</option>
                    </select>
                </div>

                <div class="col-md-4 mb-3" id="escolhaAnalista">
                    <label for="Analista">Analista</label>
                    <select class="form-control" id="Analista" required>
                        <option value="1">Gabriele</option>
                        <option value="2">Carol</option>
                        <option value="3">Ricardo</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="DataInicio">Data Inicio</label>
                    <input type="text" class="form-control" id="DataInicio" value="" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="DataFinal">Data Final</label>
                    <input type="text" class="form-control" id="DataFinal" value="" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</div>

<div>
    <canvas id="myChart" width="200" height="200"></canvas>
</div>

<script>

    var cores = [
        "rgb(54, 162, 235)",
        "rgb(75, 192, 192)",
        "rgb(201, 203, 207)",
        "rgb(255, 159, 64)",
        "rgb(153, 102, 255)",
        "rgb(255, 99, 132)",
        "rgb(255, 205, 86)"
    ];

    var tituloDoGrafico = '';
    mudaTipoGrafico();

    function mudaTipoGrafico() {
        var selectTipoDeGrafico = document.getElementById("TipoDeGrafico");
        var tipoSelecionado = selectTipoDeGrafico.options[selectTipoDeGrafico.selectedIndex].value;

        tituloDoGrafico = selectTipoDeGrafico.options[selectTipoDeGrafico.selectedIndex].text;

        var analista = document.getElementById("escolhaAnalista");

        if (tipoSelecionado == "PontuacaoDoAnalista")
            analista.style.visibility = 'visible';
        else
            analista.style.visibility = 'hidden';
    }


    window.onload = function () {
		var lineChartData = {
			labels: ['08/12/19', '09/12/19', '10/12/19', '11/12/19', '12/12/19', '13/12/19', '14/12/19'],
            datasets: [
                {
				label: 'Gabriele',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				fill: false,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				],
				yAxisID: 'y-axis-1',
            },

            {
				label: 'Carol',
				borderColor: window.chartColors.blue,
				backgroundColor: window.chartColors.blue,
				fill: false,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				],
				yAxisID: 'y-axis-1'
            },

            {
				label: 'Ricardo',
                borderColor: window.chartColors.orange,
                backgroundColor: window.chartColors.orange,
				fill: false,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				],
				yAxisID: 'y-axis-1'
            },

            ]
        };



        var ctx = document.getElementById('myChart').getContext('2d');
		window.myLine = Chart.Line(ctx, {
			data: lineChartData,
			options: {
				responsive: true,
				hoverMode: 'index',
				stacked: false,
                title:
                {
					display: true,
					text: tituloDoGrafico
				},
                scales:
                {
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'left',
						id: 'y-axis-1',
					}],
				}
			}
		});
    };
</script>







